.error{
    background: rgb(15, 15, 80);
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    h1{
        text-align: center;
        color: #fff;
        margin-top: 200px;
        font-weight: 800;
    }
    h2{
        text-align: center;
        color: #fff;
    }

    span{
        font-weight: 900;
        color: #fff;
        padding: 4px;
    }
}