.bg-home {
    z-index: -1;
    background: rgb(15, 15, 80);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    .text{
        margin-top: 100px;
        margin-left: 29%;
        margin-bottom: 100px;
        color: #fff;
        width: 800px;
        text-align: center;

        @media only screen and (max-width: 1150px){
            margin-left: 0;
            margin-top: 50px;
            width: auto;
        }

        h1{
            position: relative;
            font-size: 70px;
            font-weight: 600;
            font-family: 'League Spartan', sans-serif;
            margin-bottom: 20px;
            animation: fadeInLeft 1s forwards;

            @media only screen and (max-width: 400px){
                font-size: 50px;
            }
        }

        h2{
            font-family: 'League Spartan', sans-serif;
            animation: fadeInUp 2s forwards;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #fff;
        }

        h3{
            animation: fadeInUp 2.5s forwards;
        }
    }


}