@font-face {
  font-family: 'Arcade';
  src: url('../public/assets/fonts/ARCADE_N.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

